h1#main-title {
    margin-top:20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 10em;
}

#main {
    display: flex;
    flex-direction: row;
}

#nav {
    flex: 1;
    
}


#body {
    flex: 3;
    padding-left: 20px;
}