#project-container {
    padding-top:25px;
}

#project-title {
    margin-top: 9px;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn {
    margin-right: 10px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 480px) {
    #button-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .btn {
        margin: 0 20px 5px 20px;
    }

    .form-group {
        margin: 0 20px 5px 20px;
    }

    #slider {
        height: 50px;
        width: 100%;
    }

    #year-slider {
        height: 100%;
        width: 100%;
    }
}