<div class="wrapper">
    <div class="content-header">
        <h2>Projects</h2>
    </div>
    
    <div class="content-wrapper">
        <div class="content-body">
            <ul>
                <li>
                    <a routerLink="gapminder">gapminder</a>
                </li>
                <li>
                    <a routerLink="second-proj">cool second proj</a>
                </li>
                <li>
                    <a href="#">cool proj #3</a>
                </li>
                <li>
                    <a href="#">cool proj #4</a>
                </li>
                <li>
                    <a href="#">cool proj #5</a>
                </li>
                <li>
                    <a href="#">cool proj #6</a>
                </li>
                <li>
                    <a href="#">cool proj #7</a>
                </li>
                <li>
                    <a href="#">some super duper extremely long kind of title: the new stuff.</a>
                </li>
                <li>
                    <a href="#">cool proj #6</a>
                </li>
                <li>
                    <a href="#">cool proj #7</a>
                </li>
            </ul>
        </div>
    </div>
    
</div>