#nav-wrapper {
    padding: 20px;
    transition: box-shadow 0.5s linear ;
}

#nav-wrapper:hover {
    box-shadow: 0 0 25px -10px rgba(0,0,0, .25);
}

ul#nav {
    list-style: none;
    padding-left: 1px;
    padding-right: 5px;
}

li {
    margin-bottom: 0.9em;
}

.content-wrapper {
    height: 30vh;
    overflow:auto;
    margin-bottom: 15px;
    font-size: 0.8rem;
}

@media (max-width: 800px) {
    .content-wrapper {
        height: 15vh;
        
    }
}